.box {
    max-width: 1440px;
    background-color: #F6F8F9;

}

/* daiwyo header */
header {
    width: 100%;
    height: 51px;
    padding: 20px 20px 11px 20px;
    background-color: #F6F8F9;
    border: 3px solid brown;
    position: fixed;
    top: 0px;


}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml {
    animation-name: foto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes foto {

    0% {
        transform: rotate(0deg);
        top: 0px;
    }

    100% {
        transform: rotate(360deg);

    }
}

ul {
    display: flex;
    gap: 31px;
}

li {
    font-size: 11px;
    color: #343638;
    cursor: pointer;
}

li:hover {


    border-bottom: 3px solid red;

}

.a {
    color: #343638;
    font-weight: bolder;
}





/* daiwyo section1 */
.section1 {
    width: 100%;
    height: 599px;
    display: flex;
    border: 4px solid greenyellow;
}

.foto {
    width: 60%;
    height: 100%;
    border: 3px solid blue;
    background-image: url(../image/bigfoto.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto:hover {
    width: 80%;
    height: 110%;
    position: absolute;
}

.world_news {
    border: 3px solid yellow;
    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 176px auto 176px auto;

}

h1,
.p1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

h1::after {
    content: "";
    /* margin-bottom: 3px solid red ; */
    width: 100%;
    height: 1.5px;
    background-color: white;
    display: block;
    margin-top: 30px;
}

.p2 {
    font-size: 16px;
    color: white;

}

button {
    width: 25%;
    height: 40px;
    font-size: 11px;
    color: white;
    background-color: #FA6980;
    border-radius: 10px;

}

.more_news {
    width: 40%;
    height: 100%;
    background-color: white;
    border: 3px solid green;


}

.m {
    width: 100%;
    height: 90%;
    border: 3px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.text {
    border: 5px solid pink;
    width: 70%;
    height: 70%;
    margin: 100px auto 100px auto;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h2::after {
    content: "";
    /* margin-bottom: 3px solid red ; */
    width: 100%;
    height: 3px;
    background-color: #d6dadf;
    display: block;
    margin-top: 20px;
}

.more {
    border: 3px solid red;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #FA6980;
    margin-bottom: 20px;

}

.p3 {
    font-size: 16px;
    font-weight: bold;
    color: #202124;
    margin-bottom: 10px;
}

.p4 {
    margin-bottom: 10px;


}

.p4,
.p5 {
    font-size: 16px;
    color: #A6ADB4;
    line-height: 1.5;

}

/* daiwyo section2 */
.section2 {
    border: 5px solid red;
    width: 100%;
    height: 410px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebeff1;
}

.section {
    border: 3px solid green;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.cards {
    border: 3px solid blue;
    width: 100%;
    height: 350px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.card1,
.card2,
.card3 {
    border: 3px solid yellow;
    background-color: white;
    width: 32%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {

    font-size: 24px;
    font-weight: bold;
}

.foto_card {
    width: 100%;
    height: 50%;
    margin-bottom: 40px;
    border: 2px solid red;
    border-radius: 7px;

}

.grass {
    background-image: url(../image/river.svg);
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 4s ease;
    background-color: rgb(0, 0, 0, .8);




}

.grass:hover {
    opacity: 0.5;
    cursor: pointer;
}

.umbrella {
    background-image: url(../image/umbrella.svg);
    background-position: center;
    background-size: cover;
}

.umbrella:hover {
    box-shadow: 10px 20px 15px rgb(235, 47, 47),
        -10px -20px 15px rgb(235, 47, 47);
    cursor: grab;
}

.sky {
    background-image: url(../image/sky.svg);
    background-position: center;
    background-size: cover;
    animation-name: sky;
    animation-duration: 5s;
}

@keyframes sky {
    50% {
        background-image: url(../image/sky.svg);
        opacity: 0.5;
        width: 120%;
        height: 100%;
        cursor: move;
    }

}

.p12 {
    border: 3px solid green;
    width: 80%;
    height: 40%;
    margin: 0 auto;
}

.p_card2 {
    line-height: 1.5;
}

/* section3 */
.section3 {
    background-color: #ebeff1;
    width: 100%;
    height: 1000px;
    margin-top: 40px;
}

.big_div {
    border: 4px solid green;
    width: 80%;
    height: 900px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.big_foto {
    border: 3px solid blueviolet;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big_foto1,
.big_foto2 {
    border: 3px solid yellow;
    width: 100%;
    height: 46%;
}

.big_foto1 {
    background-image: url(../image/brige.svg);
}

.big_foto2 {
    background-image: url(../image/forest.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.big_foto_p {
    border: 2px solid red;
    width: 90%;
    height: 70%;
    color: white;
    margin: 40px auto 66px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small_foto {
    border: 3px solid black;
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small_foto1,
.small_foto2,
.small_foto3 {
    border: 2px solid grey;
    width: 100%;
    height: 31%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.sfd1,
.sfd2,
.sfd3 {
    border: 2px solid blue;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.sfd1 {
    background-image: url(../image/eleph.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: eleph;
    animation-duration: 7s;
}

@keyframes eleph {
    50% {
        transform: scale(150%);
    }
}


.sfd2 {
    background-image: url(../image/pearl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sfd3 {
    background-image: url(../image/road.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer */
footer {
    width: 100%;
    background-color: #A6ADB4;
}

.footer {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 135.8px 61px 45px;
    border: 3px solid green;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: space-between;

}

.f {
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #CBD0D3;
    font-weight: bold;
 
}

.fp {
    font-size: 13px;
}

.nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
i{
    color: white;
}

/* page2 */
/* section */
.sectionwn {
    border: 3px solid red;
    width: 80%;
    height: 495px;
    margin: 0 auto 37px auto;
    background-color: azure;
    display: flex;
}

.fotown {
    border: 2px solid green;
    width: 50%;
    height: 100%;
    background-image: url(../image/sahara.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wnp {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 43%;
    left: 22%;


}

.textwns {
    border: 3px solid rgb(44, 44, 4);
    height: 100%;
    width: 50%;
    padding: 118px 0 125px 0;
    background-color: white;
}

form {
    border: 4px solid rgb(79, 12, 141);
    width: 70%;
    height: 252px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.sd {
    border: 2px solid purple;
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

input {
    height: 40px;
    border-radius: 4px;
    border: 2px solid grey;
}

button {
    width: 50%;
    height: 40px;
    background-color: #FA6980;
    border-radius: 5px;
    border: none;

}

/* section text */
.sectiontext {
    width: 80%;
    height: 253px;
    margin: 0 auto 40px auto;
    border-bottom: 3px solid rgb(211, 209, 209);
    border-top: 3px solid rgb(211, 209, 209);
    display: flex;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.saxe {
    width: 30%;
    display: flex;
    flex-direction: column;

    border: 3px solid green;
    margin-bottom: 25px;

}

.avatar {
    width: 40px;
    height: 40px;

    background-image: url(../image/avatar.svg);
}

.ip {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;

}

.text11 {
    border: 3px solid purple;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.text1 {
    border: 3px solid yellow;
    font-size: 14px;
    width: 45%;
    height: 80%;
    color: #A6ADB4;
    text-align: left;
    line-height: 1.5;

}

.sectioneleph {
    width: 80%;
    height: 830px;
    ;
    margin: 0 auto 151px auto;
    border: 3px solid red;

}

.fotoelep {
    width: 100%;
    height: 60%;
    background-image: url(../image/bideleph.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid green;
}

.eleptext {
    width: 100%;
    height: 40%;

    border: 2px solid red;
}

.elp {
    width: 99.5%;
    height: 70%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid green;
}

.elp1 {
    font-size: 14px;
    color: #A6ADB4;
    line-height: 1.5;
    border: 2px solid red
}

/* daicyo tabletis rezolucia */
@media screen and (max-width:760px) {
    .box {
        max-width: 768px;
        background-color: #F6F8F9;
    }

    header {
        width: 100%;
        height: 51px;
        padding: 18px 20px 18px 20px;
    }

    /* section1 */
    .section1 {
        width: 100%;
        height: 742px;
        display: flex;
        flex-direction: column;
      
        background-color: white;
    }

    .foto {
        width: 100%;
        height: 60%;
        border: 3px solid blue;
        background-image: url(../image/bigfoto.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .more_news {
        width: 80%;
        height: 40%;
        background-color: white;
        border: 3px solid green;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .m {
        width: 100%;
        height: 70%;
        margin-top: 10px;
        border: 3px solid yellow;
        flex-direction: unset;
    }

    .text {
        border: 5px solid pink;
        width: 100%;
        height: 90%;
        margin: auto auto;
    }

    .more {
        border: 3px solid red;
        width: 40%;
        height: 100%;
    }

    .p4 {
        margin-bottom: 0px;
    }

    /* daiwyo section 2 */
    .section2 {
        height: 412px;
        background-color: #F6F8F9;
    }

    .section {
        border: 3px solid green;
        width: 100%;
        margin: 0 auto;
    }

    .cards {
        justify-content: space-around;
    }

    .card3 {
        display: none;
    }

    .card1,
    .card2 {
        width: 40%;
    }

    /* section3 */
    .small_foto3 {
        display: none;
    }

    .section3 {
        background-color: #ebeff1;
        width: 100%;
        height: 1242px;
        margin-top: 40px;
    }

    .big_div {
        border: 4px solid rgb(62, 73, 62);
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 30px;


    }

    .big_foto {

        width: 100%;
        height: 67%;
        display: flex;
        flex-direction: column;
        justify-content: unset;

    }

    .big_foto1,
    .big_foto2 {

        width: 100%;
        height: 50%;
    }

    .big_foto1 {
        background-repeat: no-repeat;
        background-size: cover;
    }



    .small_foto {

        width: 100%;
        height: 23%;
        display: flex;
        flex-direction: unset;
        justify-content: space-around;
    }

    .small_foto1,
    .small_foto2 {

        width: 45%;
        height: 100%;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
    }

    .sfp {
        margin-bottom: 20px;

    }

    .footer {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        padding: 53px 65.8px 26.5px 85px;

    }

    .logo {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;

    }

    .f {
        line-height: 20px;
    }

    .sectionwn {
       
        width: 80%;
        height: 800px;
        margin: 51px auto 37px auto;
        background-color: azure;
        display: flex;
        flex-direction: column;
    }

    .wnp {
        color: white;
        font-size: 32px;
        position: absolute;
        top: 40%;
        left: 35%;
    }

    .fotown {
        border: 2px solid green;
        width: 100%;
        height: 50%;
        background-image: url(../image/sahara.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }



    .textwns {
        border: 3px solid rgb(44, 44, 4);
        height: 50%;
        width: 100%;
        padding: 85px 0 125px 0;
        background-color: white;
    }

    form {
        border: 4px solid rgb(79, 12, 141);
        width: 70%;
        height: 250px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .sd {
        border: 2px solid purple;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 10px;
        font-size: 13px;
        font-weight: bold;
    }

    input {
        height: 40px;
        border-radius: 4px;
        border: 2px solid grey;
    }

    button {
        width: 50%;
        height: 40px;
        background-color: #FA6980;
        border-radius: 5px;
        border: none;

    }

    /* section text */
    .sectiontext {
        width: 80%;
        height: 465px;
        margin: 0 auto 40px auto;
        border-bottom: 3px solid rgb(211, 209, 209);
        border-top: 3px solid rgb(211, 209, 209);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .saxe {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction:column;
        border: 3px solid green;
        margin-bottom: 0px;

    }
    .text11 {
        border: 3px solid purple;
        display: flex;
    justify-content: space-between;
        width: 100%;
        height: 60%;
    }

    .text1 {
        border: 3px solid yellow;
        font-size: 14px;
        width: 45%;
        height: 100%;
        color: #A6ADB4;
        text-align: left;
        line-height: 1.8;

    }

    .sectioneleph {
        width: 80%;
        height: 757px;
        margin: 0 auto 143px auto;
        border: 3px solid red;

    }

    .fotoelep {
        width: 100%;
        height: 260px;
        background-image: url(../image/bideleph.svg);
        background-position:top;
        background-size: cover;
        background-repeat: no-repeat;
        border: 3px solid rgb(18, 20, 18);
    }

    .eleptext {
        width: 100%;
        height: 60%;

        border: 2px solid red;
    }

    .elp {
        width: 99.5%;
        height: 90%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px solid green;
    }

    .elp1 {
        font-size: 14px;
        height: 45%;
        color: #A6ADB4;
        line-height: 1.5;
        border: 2px solid red
    }



 


    @keyframes eleph {
        50% {
            transform: none;

        }
    }



}

@media screen and (max-width:480px) {
    .box{
        width: 375px;

    }
    ul{
        display: none;
    }
    .section1 {
        width: 100%;
        height: 866px;
        display: flex;
        flex-direction: column;
      
        background-color: white;
    }

    .foto {
        width: 100%;
        height: 40%;
        border: 3px solid blue;
        background-image: url(../image/bigfoto.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .world_news {
        border: 3px solid yellow;
        width: 90%;
        height: 75%;
        display: flex;
        flex-direction: none;
        justify-content: space-between;
        
        margin: 61px auto 0px auto;
    
    }
    .more_news {
        width:90%;
        height: 59%;
        background-color: white;
        border: 3px solid green;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .m {
        width: 100%;
        height: 90%;
        margin-top: 10px;
        border: 3px solid yellow;
        display: flex;
        flex-direction: column;
    }

  

    .more {
        border: 3px solid red;
        width: 100%;
        height: 40%;
    }

    .p4 {
        margin-bottom: 0px;
    }
    .section2 {

        height: 762px;
        background-color: #F6F8F9;
    }

    .section {
        border: 3px solid green;
        width: 90%;
        margin: 0 auto;
        background-color: #F6F8F9;
    }

    .cards {
        height: 95%;
        flex-direction: column;
        justify-content: space-around;
    }

    .card3 {
        display: none;
    }

    .card1,
    .card2 {
        width: 100%;
        height:45% ;
    }
    .p12 {
        border: 3px solid green;
        width: 100%;
        height: 40%;
        margin: 0 auto;

}
/* section3 */
.section3 {
    border: 4px solid green;
    background-color: #ebeff1;
    width: 100%;
   
    margin-top: 20px;
}

.big_div {
    border: 4px solid rgb(62, 73, 62);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    gap: 0px;


}

.big_foto {

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    justify-content: space-around;

}

.big_foto1,
.big_foto2 {

    width: 100%;
    height: 45%;
}

.big_foto1 {
    background-repeat: no-repeat;
    background-size: cover;
}
.small_foto {
    border: 3px solid black;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small_foto1,
.small_foto2,
.small_foto3 {
    border: 2px solid grey;
    width: 100%;
    height: 31%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.sfd1,
.sfd2,
.sfd3 {
    border: 2px solid blue;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.sfd3 {
    background-image: url(../image/road.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* footer */
footer {
    width: 100%;
    background-color: #A6ADB4;
}

.footer {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items:initial;
    padding:30px 50px 20px 50px;
    border: 3px solid green;
}

.logo {
    display: none;

}


.nav {
    width:100%;
    display: flex;
    justify-content: space-between;
    
    
}








}
